body{
    background-color: rgb(255, 255, 255);
}
form{
    margin-left: -5%;
   padding-top: 5px;
   padding-bottom: 20px;
   font-family: Arial, Helvetica, sans-serif;
   
}
button{
    padding-left:20px;
    padding-right: 20px;
    border-radius: 20px;
    margin: 20px;
    margin-left:18%;
    background-color: rgb(240, 240, 215);
    border-color: black ;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;

    
}
button:hover{
    background-color:white ;
    color: gray;
    border-color: gray;
    transition: 0.5s;

}
.container{
    background-color: rgb(240, 240, 215);
    border-color: black ;
    text-align: center;
    width: 300px;
    max-width: 100%;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    left: 50;
    margin-left: auto;
    margin-top:2%;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container h1{
    padding: 30px;
}
.intrebare{
    color: white;
}
img{
    margin-left:50% ;
    margin-top:-15%;
    min-height:10%;
    max-width: 100%;
    max-height: 100%;
    animation: bataie 2s infinite;
    
}
.rez{
    margin-left: 10%;

    margin-right: 20%;
    font-family: Arial, Helvetica, sans-serif;
    animation: scris 0.8s infinite;
}
.tot{
    display: flex;
}@keyframes scris{
    0%{color: black;}
    25%{color:red;}
    50%{color:blue;}
    75%{color:yellow}
    85%{color: yellowgreen;}
    100%{color: black;}

}
@keyframes bataie{
    0%{height: 500px; width: 500px;}
    25%{height: 650px; width: 650px;}
    50%{height: 500px; width: 500px;}
    75%{height: 650px; width: 650px;}
    100%{height: 500px; width: 500px;}
}
@keyframes bataie2{
    0%{height: 150px; width: 150px;}
    25%{height: 250px; width: 250px;}
    50%{height: 150px; width: 150px;}
    75%{height: 250px; width: 250px;}
    100%{height: 150px; width: 150px;}
}

@media only screen and (max-width: 600px){

    img{
        margin-left: 30%;
        margin-top: 9%;
       width: 150px;
       height: 150px;
       animation: bataie2 2s infinite;
    }
    .rez{
        margin-left: 25%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }.tot{
        display: inline;

    }
    
}